body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
  
}
.sidebar{
    width: 220px;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: flex;
}

  

.sidebar h1{
    color: #ffffff;
    font-weight: 700, bold;
    size: 30px;
    line-height: 35.16px;
    text-align: center;
    margin: auto; 
}

.menu  a{
    display: flex;  
    text-decoration: none;
    list-style-type: none ;
    padding-left: 24px;
    border-bottom: 2px solid #E7E7E7;
    padding-left: 24px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: #725C5C;
    size: 15px; 
    font-weight: 500, medium;
    line-height: 18.75px;
}

header{
    background-color:#ffffff ;
    width: 220px;
}

.menu  a:hover{
    background: #fdf1eb;
    transition: 0.3s;
    border-left: 5px solid #ED7839;

}

.container{
    display: grid;
    grid-template-columns:220px 3fr 1fr ;
}
main{
    margin: 0px;
    padding: 0px;
    grid-column: 2/4;
}
.login{
    height: 68px;
    background: #FDF1EB; 
    padding-left: 36px;
    display: flex;  
}

p{
    margin: 0px;
    font-size: 14px;
    color: #725c5c;
}

h2{
    font-size: 22px;
    margin: 0px;
    color: #725C5C; 
   text-transform: initial;
   font-weight: 400;
}
.button{
      width: 97px;
      height: 34px;
      margin-top: 17px;
      margin-bottom: 17px;
      margin-left: 350px;
      border: 1px solid #CCCCCC;
      background-color: transparent;
      border-radius: 3px;  
            
  }
  
.button1{
   margin-left: 6px;
   margin-top: 4px;
}


.button2{ 
    margin-bottom:3px;
}

.login-img{
    border-radius: 50%;
    margin-left: 500px; 
         
}
.login-email{
    text-align: right;
    margin-right: 80px;
}

.log{
    display: grid;
    align-content: center;

}




    


  
     
 

  
      
    

   

 





   
   

   